body{
    margin: 0;
    font-family: 'Libre Franklin', sans-serif;
}

nav{
    background-color: #fff;
    height: 50px;
    width: 100%;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

nav a{
    color: #000;
    text-decoration: none;
    font-size: 20px; 
    margin-right: 20px;
}

nav a:hover{
    color: #c0c0c0;
    font-size: 23px;
}

#hero-home{
    height: 400px;
    width: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2016/11/23/14/45/coding-1853305_960_720.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-position: bottom;
}

#hero-home img{
    width: 25%;
    height: 280px;
    border-radius: 100%;
    border: 6px #fff solid;
    
}

#grid-example{
    display: grid;
}

#grid-example h3{
    font-size: 25px;
    place-self: center;
}
#grid-container{
    display: grid;
    height:  450px; width: auto;
    grid-template-columns: 40% 40%;
    grid-template-rows: 200px 200px;
    column-gap: 15px;
    row-gap: 15px;
    justify-content: center;
}

#grid-container div{
    background-color: #252525;
    border: solid black 2px;
    text-align: center;
    display: flex;
    align-items: center;
    color: #fff;
    text-align: justify;
    padding: 15px;
}

#btn{
    height: 30px;
    color: #000;
    background-color: #fff;
    border-color: #000;
    border-style: solid;
}

#btn:hover{
    height: 35px; width: 105px;
    color: #fff;
    background-color: #000;
}

#view-mobile{
    display: flexbox;
    width: 100%;
    height: 550px;
    text-align: center;
    justify-content: center;
    padding:15px;
    margin-top: 3%;
    background-color: #252525;
    color: #fff;
}

#view-mobile img{
    width: 30%;
    height: 40%;
}

#view-mobile p{
    position: absolute;
    left: 5%; right: 5%;
    text-align: justify;
}

@media (min-width: 481px) and (max-width: 767px) {
    nav{
      justify-content: center;
    }
  
    #hero-home{
      flex-direction: column-reverse;
    }
  
    #hero-home img{
      width: 30%;
      height: 50%;
    }
    
    .text-hero{
        text-align:center;
    }

    .display-none{
      display: none;
    }

    #grid-container{
        display: grid;
        height:  600px; width: auto;
        grid-template-columns: 70%;
        grid-template-rows: 150px;
    }
    #grid-container div{
        background-color: #252525;
        padding: 5px;
        grid-row-end: auto;
    }
    
    #view-mobile{
        display: flexbox;
        width: 100%;
        height: 550px;
        text-align: center;
        justify-content: center;
        padding:15px;
        margin-top: 3%;
        background-color: #252525;
        color: #fff;
    }
    
    #view-mobile img{
        width: 30%;
        height: 40%;
    }
    
    #view-mobile p{
        position: absolute;
        left: 5%; right: 5%;
        text-align: justify;
    }
}


